$screen-height: 100vh;
$taskbar-height: 43px;
$taskbar-colors: rgba(0, 0, 0, 0.3);
$taskbar-colors-hover: rgba(255, 255, 255, 0.1);
$midnight: #2c3e50;
$white: white;
$whitesmoke: whitesmoke;
$light_grey: rgb(242,242,242);
$grey: grey;